@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://fonts.googleapis.com/css?family=Average%20Sans);
@import url(https://fonts.googleapis.com/css?family=Homemade%20Apple);

/* CSS for Navigation Bar */
#nav-button {
    border-radius: .30rem;
    width: 150px;
    height: 63px;
    border: 1px solid white;
    background-color: #041154;
    color: WHITE;
    transition: background-color 500ms, color 500ms;
    margin-left: auto;
    margin-right: auto;
    font-size: 130%;
    font-family: 'PT Sans Caption';
}

#nav-button:hover {
    background-color: white;
    color:#041154;
    border: 1px solid #041154;
    transition: background-color 500ms, color 500ms;  
}

#nav-bar {
    width: 85%;
    margin: auto;
    font-size: 30px;
}

#all-nav-links{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1.5px solid white;
    border-radius: 1rem;
    background: #041154; 
}

#nav-link{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

#proj-link {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

a, a:visited {
    text-decoration: none;
    color: white;
    font-family: 'Average Sans';
}

/* CSS for background image */
#background {
   background-image: url(images/back3.jpg);
   background-position: center center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}

/* CSS for HomePage */
#index-container {
    /*margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    height: 50%;
    position: absolute;
    top: 0px;
    bottom: 90px;
    left: 0px;
    right: 0px;
    border-radius: 1rem;
    background-color: rgba(255, 205, 161, 0.8);
    border: 3px solid rgba(255, 255, 255, 0.5); */

    border-radius: 1rem;
    background-color: rgba(189, 197, 228, 0.47);
    border: 3px solid #041154;
    margin: 2%;
}

#homePage-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 15%;
}

#headshot{
    border: solid;
    border-radius: 46%;
    width: 356px;
    margin-left: auto;
    margin-right: auto;
    border-color: #041154;
}

#mainH1 {
    display: block;
    text-align: center;
    font-size: 400%;
    margin-bottom: 15px;
    /*color: #7d3406; */
    color: #041154;
    letter-spacing: 5px;
    font-family: 'Sofia';
}

#short-intro {
    text-align: center;
    color: #041154;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5.5%;
    font-size: 130%;
    /*font-family: 'PT Sans Caption';*/
    font-family: 'Average Sans';
}
/*
p {
    display: block;
    text-align: center;
    margin:auto;
} */

#button-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 2%;
    grid-gap: 30px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
}

/* CSS for About Me Page */
#aboutMe-container {
    border: 1.5px solid #041154;
    background-color: rgba(255, 255, 255, 0.42);
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
}

#aboutMe_Heading1 {
    text-align: center;
    font-size: 450%;
    color: #041154;
    /*border: 1.5px solid #041154;
    background-color: rgba(255, 255, 255, 0.36);
    background-blend-mode: lighten; */
    letter-spacing: 8px;
    font-family: "Sofia";
}

#aboutMe_Heading2 {
    text-align: center;
    font-size: 155%;
    color: white;
    margin-bottom: -1%;
    font-family: 'Average Sans';
}

#polaroid-selfie img{
    width: 90%;
}

#aboutMePolaroid {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.polaroid-name {
    font-size: 130%;
    font-family: 'Homemade Apple';
}

#polaroid-selfie {
  text-align:center;
  display:inline-block;
  list-style:none;
  position:relative;
  border:solid 12px #fff;
  background:#fff;
  box-shadow:0 0 15px 0px #555;
}

#aboutMe-intro {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#i-am {
    text-align: center;
}

#i-am-para {
    color: white;
    text-align: center;
}

#i-am-phrase {
    color: white;
    font-size: 25px;
    display: inline-flex;
}

#phrases {
    display: inline-block;
    vertical-align: middle;
    color: #041154;
    letter-spacing: 2px;
    font-family: 'Average Sans';
}

.shortDescription {
    padding: 20px;
    text-align: left;
    padding-left: 50px;
    padding-right: 45px;
    font-size: 110%;
    border: dotted #c98b7b;
    background-color: #ffede3;
    color: #8f1c11;
}

#randomFact {
    margin-left: 25%;
    margin-right: 16%;
    margin-bottom: 10%;
    width: 160px;

    box-shadow: 0px 10px 14px -7px #8a3608;
    background: linear-gradient(to bottom, #eb9988 5%, #ad5745 100%);
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 27px;
}

#randomFact:hover {
    background:linear-gradient(to bottom, #ad5745 5%, #eb9988 100%);
	background-color:#ad5745;
}
#randomFact:active {
    position:relative;
	top:1px;
}

#ranButtonFormat {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#fact-container {
    color: #8f1c11;
    font-size: 110%;
    margin-bottom: 5%;

    padding: 20px;
    text-align: left;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dotted #c98b7b;
}

/* CSS for Projects Page */
#project-container {
    margin-right: -8px;
    margin-left: -8px;
    background-color: white;
    border: 1px solid black;
    height: 50vh;
}

#project-grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*
#galleryH1 {
    text-align: center;
    border: double 6px #780e0e;
    color: #780e0e;
    margin-bottom: 10px;
}

.galleryP {
    color: #780e0e;
    margin-bottom: 5px;
}

#column {
  float: left;
  width: 28%;
  margin: 10px;
  box-shadow: 0 0 5px 1px #555;
}

#column img {
  width: 100%;
  opacity: 1; 
  cursor: pointer; 
}

#gallery_body {
    background-image: url(images/back3.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* CSS for connect.html */
#connect_body {
   background-image: url(images/background.jpeg);
   background-position: center center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}

.connect_Heading {
    text-align: center;
    font-size: 260%;
    color: #b04705;
    padding-top: 80px;
}

#icon{
    list-style: none;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 55px;
    display: inline-block;
    padding: 20px 20px;
    border: 1px solid rgba(255,255,255, 0);
}

#theBorder {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 230px;
    width: 600px;
    height: 250px;
    position: absolute;
    top: 0px;
    bottom: 90px;
    left: 0px;
    right: 0px;

    background-color: rgba(255, 205, 161, 0.9);
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.connect_Para {
    color: #b04705;
    font-size: 18px;
}

#iconCredits {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 205, 161, 0.77);
    color: black;
}


#returnHome_button {
    width: 90px;
    height: 30px;
    border: 1px solid white;
    background-color: #b04705;
    color: WHITE;
    border-radius: .30rem;
    transition: background-color 500ms, color 500ms;
}
#returnHome_button:hover {
    background-color: white;
    color:#b04705;
    border: 1px solid #b04705;
    transition: background-color 500ms, color 500ms;  
}

.fromGallery {
    margin-left: 45%;
    margin-bottom: 18px;
}

.fromAboutMe {
    margin-bottom: 20px;
    margin-left: 45%;
}
.fromConnect {
    position: fixed;
    margin-left: 250px;
    margin-top: 200px;
    margin-bottom: 20px;
}

/* CSS for commentSection.html */
#servletContent {
   background-image: url(images/background.jpeg);
   background-position: center center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}

.messagesForm {
    margin:5px;
}

.messageBox {
    display: block;
    width: 65%;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    background-color: white;
    border-radius: .30rem;
    border: 1px solid #b04705;
}

.submitMessageButton {
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: .30rem;
    border: 1px solid white;
    background-color: #b04705;
    color: WHITE;
    transition: background-color 500ms, color 500ms;
    margin-bottom: 18px;
    margin-left: 43%;
}

#getMessageButton {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    border-radius: .30rem;
    border: 1px solid white;
    background-color: #b04705;
    color: WHITE;
    transition: background-color 500ms, color 500ms;
    margin-bottom: 20px;
    margin-left: 27%;
    margin-right: 5%;
    margin-top: 3.7%;
}

.submitMessageButton:hover {
    background-color: white;
    color:#b04705;
    border: 1px solid #b04705;
    transition: background-color 500ms, color 500ms;
}

#getMessageButton:hover {
    background-color: white;
    color:#b04705;
    border: 1px solid #b04705;
    transition: background-color 500ms, color 500ms;
}

#message_history {
    margin-block-end: 5%;
    list-style: inside;
    background-color: rgba(255, 205, 161, 0.94);
    border: 3px solid rgba(255, 255, 255, 0.5);
    color:#672c06;
    margin-top: 8%;
}

#returnHomeFromComment {
    text-align: center;
    border-radius: .30rem;
    border: 1px solid white;
    background-color: #b04705;
    color: WHITE;
    transition: background-color 500ms, color 500ms;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#returnHomeFromComment:hover {
    background-color: white;
    color:#b04705;
    border: 1px solid #b04705;
    transition: background-color 500ms, color 500ms;
}

#home_message_button {
    text-align: center;
    border-radius: .30rem;
    border: 1px solid white;
    background-color: #b04705;
    color: WHITE;
    transition: background-color 500ms, color 500ms;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#home_message_button:hover {
    background-color: white;
    color:#b04705;
    border: 1px solid #b04705;
    transition: background-color 500ms, color 500ms;
}